#burger-wrapper {
    width: 300px;
    height: 300px;
    float: right;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#burger-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

#menu-burger a{font-size: 18px; line-height: 22px; font-family: 'HelveticaNowDisplayExtraBold',sans-serif; color: #ffffff; text-align: center; transition: 0.3s ease-in-out;}

#burger-circle.white {
    border: 2px solid rgba(255, 255, 255, 1);
}



#menu-burger {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
  align-items: center;
  justify-content: center;
    
}

#menu-burger span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.light-content #menu-burger span {
    background: #fff;
}

#menu-burger.white span {
    background: #fff;
}

#menu-burger span:nth-child(1) {
    top: 8px;
}

#menu-burger span:nth-child(2) {
    top: 14px;
}

#menu-burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px;
}
.circle-active  #menu-burger a{font-size: 18px; line-height: 22px; color: #0d1d31;}
#burger-circle:before{content: ''; position: absolute; top: 0;  left: 0; width: 100%; height: 0; border-radius: 50%; background-color: #ffffff; transition: 0.3s cubic-bezier(0.35, 0.43, 0.4, 1.19);}
.circle-active  #burger-circle:before{bottom: 0; height: 100%; top: auto;}